
.vs/Notepad-Pro/v17/.suo
.vs/Notepad-Pro/v17/DocumentLayout.json
Notepad Pro/.vs/Notepad Pro/FileContentIndex/e8c0379d-e7a0-43db-9de4-fd8c04e00b3c.vsidx
Notepad Pro/.vs/Notepad Pro/v17/.suo
Notepad Pro/.vs/Notepad Pro/v17/DocumentLayout.json
Notepad Pro/Notepad Pro.sln
Notepad Pro/Notepad Pro/App.xaml
Notepad Pro/Notepad Pro/App.xaml.cs
Notepad Pro/Notepad Pro/AssemblyInfo.cs
Notepad Pro/Notepad Pro/bin/Debug/net8.0-windows/Notepad Pro.deps.json
Notepad Pro/Notepad Pro/bin/Debug/net8.0-windows/Notepad Pro.dll
Notepad Pro/Notepad Pro/bin/Debug/net8.0-windows/Notepad Pro.exe
Notepad Pro/Notepad Pro/bin/Debug/net8.0-windows/Notepad Pro.pdb
Notepad Pro/Notepad Pro/bin/Debug/net8.0-windows/Notepad Pro.runtimeconfig.json
Notepad Pro/Notepad Pro/MainWindow.xaml
Notepad Pro/Notepad Pro/MainWindow.xaml.cs
Notepad Pro/Notepad Pro/Notepad Pro.csproj
Notepad Pro/Notepad Pro/Notepad Pro.csproj.user
Notepad Pro/Notepad Pro/obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Notepad Pro/Notepad Pro/obj/Debug/net8.0-windows/App.g.cs
Notepad Pro/Notepad Pro/obj/Debug/net8.0-windows/App.g.i.cs
Notepad Pro/Notepad Pro/obj/Debug/net8.0-windows/apphost.exe
Notepad Pro/Notepad Pro/obj/Debug/net8.0-windows/MainWindow.baml
Notepad Pro/Notepad Pro/obj/Debug/net8.0-windows/MainWindow.g.cs
Notepad Pro/Notepad Pro/obj/Debug/net8.0-windows/MainWindow.g.i.cs
Notepad Pro/Notepad Pro/obj/Debug/net8.0-windows/Notepad Pro.AssemblyInfo.cs
Notepad Pro/Notepad Pro/obj/Debug/net8.0-windows/Notepad Pro.AssemblyInfoInputs.cache
Notepad Pro/Notepad Pro/obj/Debug/net8.0-windows/Notepad Pro.assets.cache
Notepad Pro/Notepad Pro/obj/Debug/net8.0-windows/Notepad Pro.csproj.BuildWithSkipAnalyzers
Notepad Pro/Notepad Pro/obj/Debug/net8.0-windows/Notepad Pro.csproj.CoreCompileInputs.cache
Notepad Pro/Notepad Pro/obj/Debug/net8.0-windows/Notepad Pro.csproj.FileListAbsolute.txt
Notepad Pro/Notepad Pro/obj/Debug/net8.0-windows/Notepad Pro.designer.deps.json
Notepad Pro/Notepad Pro/obj/Debug/net8.0-windows/Notepad Pro.designer.runtimeconfig.json
Notepad Pro/Notepad Pro/obj/Debug/net8.0-windows/Notepad Pro.dll
Notepad Pro/Notepad Pro/obj/Debug/net8.0-windows/Notepad Pro.g.resources
Notepad Pro/Notepad Pro/obj/Debug/net8.0-windows/Notepad Pro.GeneratedMSBuildEditorConfig.editorconfig
Notepad Pro/Notepad Pro/obj/Debug/net8.0-windows/Notepad Pro.genruntimeconfig.cache
Notepad Pro/Notepad Pro/obj/Debug/net8.0-windows/Notepad Pro.GlobalUsings.g.cs
Notepad Pro/Notepad Pro/obj/Debug/net8.0-windows/Notepad Pro.pdb
Notepad Pro/Notepad Pro/obj/Debug/net8.0-windows/Notepad Pro.sourcelink.json
Notepad Pro/Notepad Pro/obj/Debug/net8.0-windows/Notepad Pro_MarkupCompile.cache
Notepad Pro/Notepad Pro/obj/Debug/net8.0-windows/Notepad Pro_MarkupCompile.i.cache
Notepad Pro/Notepad Pro/obj/Debug/net8.0-windows/Notepad Pro_MarkupCompile.i.lref
Notepad Pro/Notepad Pro/obj/Debug/net8.0-windows/ref/Notepad Pro.dll
Notepad Pro/Notepad Pro/obj/Debug/net8.0-windows/refint/Notepad Pro.dll
Notepad Pro/Notepad Pro/obj/Notepad Pro.csproj.nuget.dgspec.json
Notepad Pro/Notepad Pro/obj/Notepad Pro.csproj.nuget.g.props
Notepad Pro/Notepad Pro/obj/Notepad Pro.csproj.nuget.g.targets
Notepad Pro/Notepad Pro/obj/project.assets.json
Notepad Pro/Notepad Pro/obj/project.nuget.cache
